.App {
  text-align: center;
  color: #ee6a50;
  font-family: serif;
  font-size: 1.2em;
}

.App-logo {
  height: 70px;
  vertical-align: bottom;
}

.App-header {
  background-color: #008080;
  height: 150px;
  padding: 20px;
  color: #ffffff;
  text-align: left;
  font-style: normal;
}

.App-title {
  font-size: 3em;
}


