.buttons{
    float: left;
    border: none;
    font-size: 16px;
    text-align: center;
    height: 2em;
    display: inline-block;
    background-color: #e6e6fa;
    color: #008080;
}

.lists{
   line-height: 1cm;
   font-family: serif;
   font-size: 20px;
}

.buttons:hover{
    background-color: lightgrey;
}

.authorsBooks{
    float: left;
    margin-left: 10px;
}