#search {
    float: left;
    border: none;
    font-size: 16px;
    text-align: center;
    height: 2em;
    background-color: #e6e6fa;
    color: #008080;
}

#search:hover{
    background-color: lightgrey;
}

#searchText{
   float: left;
   height: 2em;
   margin-left: 10px;
}

#searchDone{
    float: left;
    border: none;
    font-size: 16px;
    text-align: center;
    height: 2em;
    background-color: #e6e6fa;
    color: #008080;
    margin-left: 10px;
}

#searchDone:hover{
    background-color: lightgrey;
}
